.nombre{
    font-size: 28px;
    text-align: center;
    line-height: 30px;
    letter-spacing: -0.65px;
    font-weight: 600;
    font-stretch: normal;
    color: black;
}

.precio-anio{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    text-align: center;
}

.autos{
    .card{
        &:hover{
            h5{
                color: red;
            }
        }
        border:none;
        &:hover{
            .btn{
                visibility: visible;
            }
        }
    }
    .btn{
        border-radius: 30px;
        background: #191919!important;
        margin-right: 58px;
        margin-left: 58px;
        visibility: hidden;
    } 
}