.col-12{
    padding: 0 ;
    margin: 0;
}
.navbar-brand{
    padding: 16px 0px 14px 36px;
    margin: 0;
}
header{
    .collapse{
        padding-left: 22px;
        height: 100%;
        .nav-item{
            padding-left: 33px;
            padding-right: 39px;
            text-decoration: none;
            &:hover{
                border-bottom: 4px solid #d0021b;
                color: #d0021b!important;
            }
        }
        .nav-item.active{
            border-bottom:4px solid #d0021b;
            .nav-link{
                color: #d0021b!important;
            }
        }
        .nav-link{
            font-size: 14px;
            font-weight: 600;
            padding-top: 31px;
            padding-bottom: 27px;
            color: #191919!important;
            &:hover{
                color: inherit!important;
            }
        }
        
    }
    .navbar{
        background: #ffffff;
        padding:0;
        margin:0;
        border-bottom: 1px solid #d8d8d8;
    }
    .btn-group{
        display: flex;
        button{
            height: 40px;
            width: 40px;
            margin-top: 19px;
            margin-right: 5px;
            background: #ffffff;
            width: auto;
            border-radius: 0px;
            &.dropdown-toggle{
                &::after{
                    display: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        h5{
            padding-top: 31px;
            padding-right: 12px;
            padding-bottom: 27px;
            font-size: 14px;
            font-weight: 400;
        }
        .logo{
            padding-right: 25px;
            padding-left: 23px;
        }
    }
    
    .dropdown-menu.show{
        display: block;
        text-align: right;
        width: 390px;
        left: -227px;
    }
    
    .cerrar{
        padding-top: 18px;
        padding-bottom: 26px;
        a{
            padding-right: 11px;
            color: black;
            &:hover{
                color: red;
            }
        }
        img{
            padding-right: 27px;
        }
    }
    
    .dropdown-menu{
        h6{
            padding-top: 10px;
            padding-right: 20px;
        }
        a{
            font-size: 20px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            text-decoration: none;
            color: inherit;
            &:hover{
                background: #d1d1d1;
                padding-left: 20px;
                border-radius: 5px;
                color: red;
            }
        }
    }
    
    .box{
        border-bottom: 1px solid #d1d1d1;
        padding-top: 10px;
    }
    .box-4{
        background-color: #efeeef;
    }
    
    
    @media (max-width: 992px) {
        .dropdown-menu.show{
            display: block;
            text-align: right;
            width: 390px;
            left: -293px;
        }
        .btn-group{
            button{
                margin-top:0px;
            }
        }
    }
}


